.signup {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  padding: 20px;
}

.signup h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.shade {
  color: var(--Green);
}

.form {
  width: 100%;
  max-width: 350px;
  background: var(--White);
  padding: 25px;
  border: 3px solid var(--Green);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 10px;
  border: 1px solid var(--Green);
  border-radius: 4px;
  outline: none;
}

input::placeholder {
  color: black;
  opacity: 1;
}

.passwordWrapper {
  padding: 10px;
  border: 1px solid var(--Green);
  border-radius: 4px;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.passwordWrapper:focus-within {
  border: 2px solid var(--Green);
}

.passwordWrapper input {
  width: 100%;
  border: none;
  padding: 0;
}

.passwordWrapper input:focus-within {
  border: none;
}

.options {
  padding: 10px;
  border: 1px solid var(--Green);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
}

.form button {
  background-color: var(--Green);
  color: var(--White);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.form button:hover {
  opacity: 0.9;
}

.form p {
  font-size: 14px;
  text-align: center;
}

.agree{
  display: flex;
  align-items: center;
  border: 2px solid blue;
}

.agree input{
  width: 1rem;
  height: 1rem;
  margin: 0px;
}

.agree span{
  width: 100%;
  font-size:small;
  text-align: end;
}

.termsWrapper{
   display: flex;
  align-items: center; 
  white-space: nowrap; 
  gap: 8px;
  width: max-content; 
  margin: 0 auto;
}

.termsWrapper input[type="checkbox"] {
  margin: 0;           
  cursor: pointer;
  flex-shrink: 0;     
}


.agreeName {
  font-size: 14px;
  padding: 0;
  margin: 0;     
  /* line-height: 1;      */
}






.inputGroup {
  position: relative;
  margin-bottom: 20px;
}

.inputGroup input,
.inputGroup select {
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.error {
  position: absolute;
  left: 12px;
  top: 90%;
  transform: translateY(-50%);
  color:var(--Error);
  font-size: 12px;
  pointer-events: none;
}

@media (min-width: 768px) {
  .signup {
    flex-direction: row;
    justify-content: center;
  }

  .form {
    max-width: 400px;
    padding: 35px;
  }

  .signup h2 {
    font-size: 24px;
  }
}
