.container {
  font-family: sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  text-align: center;
}

.heroText h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.shade{
  color: var(--Orange);
}

.heroText p {
  margin-bottom: 1.5rem;
}

.heroCTA p{
    display: none;
  }

.primaryBtn {
  background-color:var(--Orange);
  color: var(--White);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.heroImage{
  position: relative;
}

.heroImage img {
  width: 16rem;
  height: 19.8rem;
  margin-top: 1.5rem;
 
}

.orange__ball{
  width:13.9rem ;
  height: 13.6rem;
  border-radius: 100%;
  position: absolute;
  bottom:10px;
  right: -100px;
  background-color: var(--Orange);
}

.section {
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--Gray);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.card {
  background: var(--White);
  padding: 1.5rem;
  border-radius: 8px;
}

.impact {
  background-color: var(--Orange);
  color: var(--White);
  padding: 2rem 1rem;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.stats h3 {
  font-size: 1.8rem;
}


.description {
  margin: 1rem 0 2rem;
}

.ourProfile{
  position: absolute;
  border: 2px solid green;
}

.values{
  max-width: 100;
  max-height: 20%;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var( --LightOrange);
  position: relative;
  top: 5px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--Orange);
}

.box {
  border: 2px solid black;
  padding: 1.5rem;
  border-radius: 8px;
  color: var(--White);
}


@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    gap: 10px;
    text-align: left;
    align-items: center;
  }

  .heroText{
    width: 50%;
    border: 2px solid red;
  }
   .heroText h1{
     font-size: 3rem;
     text-align: center;
   }

   .heroText p{
    font-size: 1.2rem;
    text-align: center;
   }

  .heroImage{
    width: 50%;
    border: 2px solid black;
  }

  .heroImage img {
  width: 30rem;
  height: 35.6rem;
  top: 130px;
  margin-top: 1.5rem;
}



.orange__ball{
  width:13.9rem ;
  height: 13.6rem;
  border-radius: 100%;
  position: absolute;
  top:150px;
  right: -100px;
  background-color: var(--Orange);
}

  .heroCTA{
    display: flex;
    gap: 1.2rem;
    border: 2px solid green;
  }
  
  .heroCTA p{
    display: flex;
  }
  /* .heroText,
  .heroImage {
    flex: 1;
  } */

  .cards {
    flex-direction: row;
  }

  .card {
    flex: 1;
  }

  .stats {
    flex-direction: row;
    justify-content: space-around;
  }

  .grid {
    flex-direction: row;
  }

  .box {
    flex: 1;
  }


  .values{
  max-width: 50%;
  max-height: 20%;
  top: 5px;
}
}
